@import '../../../styles/abstracts/variables';
@import '../../../styles/abstracts/mixins';

.header {
    width: 100%;
    position: relative;

    &__slider {
        background-color: lighten($primary-color, 40%);
        padding: $spacing-xs 0;
        text-align: center;
        overflow: hidden;

        &-content {
            font-weight: $font-weight-medium;
            font-size: 14px;
            animation: fadeInOut 1s ease-in-out;
        }
    }

    &__main {
        display: flex;
        justify-content: center;
        position: relative;
        z-index: 10;
    }

    &__logo-container {
        text-decoration: none;
        color: $text-color;
        position: absolute;
        top: 33px;
        transform: translateY(-50%);
        z-index: 100;
    }

    &__logo {
        background-color: white;
        padding: $spacing-md $spacing-lg;
        text-align: center;
        font-weight: $font-weight-bold;
        font-size: 24px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 5);
        clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 100%, 0 75%);
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    20% {
        opacity: 1;
        transform: translateY(0);
    }

    80% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(10px);
    }
}